In [1]:
import random
import sys
from ImportantConfig import Config
config = Config()
from sql2fea import TreeBuilder,value_extractor
from NET import TreeNet
from sql2fea import Sql2Vec
from TreeLSTM import SPINN
import pandas as pd
import json
from IPython.display import display

sys.stdout = open(config.log_file, "w")
random.seed(113)
with open(config.queries_file) as f:
    import json
    queries = json.load(f)

tree_builder = TreeBuilder()
sql2vec = Sql2Vec()

In [2]:

df=pd.read_csv('./queries.csv')
df.head()

   query_id                                              query
0         1  select  channel, col_name, d_year, d_qoy, i_ca...
1         2  select  i_item_id, \n        avg(ss_quantity) ...
2         3  select sum (ss_quantity)\n from store_sales, s...
3         4  select  i_item_id\n       ,i_item_desc \n     ...
4         5  with ss_items as\n (select i_item_id item_id\n...

In [3]:
queries=df['query'].values
queries[0]

"select  channel, col_name, d_year, d_qoy, i_category, COUNT(*) sales_cnt, SUM(ext_sales_price) sales_amt FROM (\n        SELECT 'store' as channel, 'ss_hdemo_sk' col_name, d_year, d_qoy, i_category, ss_ext_sales_price ext_sales_price\n         FROM store_sales, item, date_dim\n         WHERE ss_hdemo_sk IS NULL\n           AND ss_sold_date_sk=d_date_sk\n           AND ss_item_sk=i_item_sk\n        UNION ALL\n        SELECT 'web' as channel, 'ws_ship_hdemo_sk' col_name, d_year, d_qoy, i_category, ws_ext_sales_price ext_sales_price\n         FROM web_sales, item, date_dim\n         WHERE ws_ship_hdemo_sk IS NULL\n           AND ws_sold_date_sk=d_date_sk\n           AND ws_item_sk=i_item_sk\n        UNION ALL\n        SELECT 'catalog' as channel, 'cs_ship_addr_sk' col_name, d_year, d_qoy, i_category, cs_ext_sales_price ext_sales_price\n         FROM catalog_sales, item, date_dim\n         WHERE cs_ship_addr_sk IS NULL\n           AND cs_sold_date_sk=d_date_sk\n           AND cs_item_sk=i_item_sk) foo\nGROUP BY channel, col_name, d_year, d_qoy, i_category\nORDER BY channel, col_name, d_year, d_qoy, i_category\nlimit 100;"

In [16]:
from PGUtils import pgrunner
plan_jsons=[]
for sql in queries:
    plan_jsons.append(pgrunner.getCostPlanJson(sql))
len(plan_jsons)

17813

In [19]:
error_count = 0
queryid_final=[]
for query_id,plan in zip(list(range(1,17814)),plan_jsons):
    try:
        tree_builder.plan_to_feature_tree(plan)
        queryid_final.append(query_id)
    except Exception as e:
        error_count += 1
        print(f"Error in processing plan: {e}")

display(f"too much children Total errors: {error_count}")

'Total errors: 3413'

In [31]:
filtered_df = df[df['query_id'].isin(queryid_final)]
queryid_final

[2,
 3,
 4,
 5,
 6,
 8,
 9,
 11,
 12,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 29,
 31,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 45,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 92,
 93,
 94,
 95,
 96,
 97,
 99,
 100,
 102,
 103,
 104,
 106,
 107,
 108,
 109,
 111,
 112,
 114,
 115,
 116,
 117,
 118,
 119,
 120,
 121,
 122,
 123,
 124,
 125,
 126,
 127,
 128,
 129,
 130,
 131,
 132,
 133,
 134,
 135,
 136,
 137,
 138,
 139,
 141,
 142,
 143,
 144,
 146,
 147,
 148,
 149,
 150,
 151,
 152,
 154,
 157,
 158,
 159,
 160,
 161,
 162,
 163,
 164,
 165,
 166,
 168,
 170,
 171,
 172,
 173,
 174,
 177,
 179,
 181,
 182,
 183,
 186,
 189,
 190,
 191,
 192,
 193,
 194,
 195,
 196,
 197,
 199,
 200,
 202,
 203,
 205,
 207,
 208,
 209,
 211,
 212,
 213,
 215,
 216,
 217,
 218,
 219,
 220,
 221,
 222,
 224,
 225,
 226,
 229,
 231,
 232,
 233,
 234,
 235,
 236,
 237,
 238,
 239,
 240,
 241,
 242,
 243,
 244,
 245,
 246,
 247,
 248,
 249,
 251,
 252,
 253,
 254,
 256,
 257,
 258,
 259,
 260,
 261,
 262,
 263,
 264,
 265,
 267,
 268,
 269,
 270,
 272,
 273,
 274,
 275,
 277,
 278,
 279,
 280,
 281,
 283,
 285,
 287,
 289,
 290,
 291,
 292,
 293,
 294,
 295,
 298,
 299,
 300,
 301,
 302,
 303,
 305,
 306,
 307,
 308,
 310,
 311,
 312,
 313,
 314,
 316,
 317,
 318,
 319,
 321,
 322,
 323,
 324,
 325,
 326,
 327,
 328,
 329,
 331,
 334,
 335,
 337,
 338,
 339,
 340,
 341,
 342,
 343,
 344,
 345,
 346,
 347,
 349,
 350,
 351,
 352,
 353,
 354,
 355,
 356,
 357,
 358,
 359,
 360,
 361,
 362,
 363,
 364,
 365,
 366,
 368,
 370,
 371,
 372,
 373,
 374,
 375,
 376,
 377,
 378,
 381,
 382,
 383,
 386,
 391,
 392,
 393,
 394,
 395,
 396,
 397,
 398,
 401,
 402,
 403,
 404,
 405,
 406,
 408,
 409,
 410,
 411,
 412,
 413,
 414,
 415,
 416,
 417,
 418,
 419,
 420,
 421,
 422,
 423,
 425,
 426,
 427,
 428,
 429,
 430,
 431,
 432,
 433,
 434,
 435,
 436,
 437,
 438,
 439,
 440,
 441,
 442,
 443,
 444,
 445,
 446,
 447,
 448,
 451,
 452,
 453,
 454,
 455,
 456,
 457,
 458,
 459,
 460,
 461,
 462,
 464,
 465,
 466,
 467,
 469,
 470,
 471,
 472,
 473,
 474,
 475,
 476,
 477,
 478,
 479,
 480,
 481,
 482,
 483,
 485,
 486,
 487,
 490,
 491,
 492,
 493,
 494,
 495,
 496,
 497,
 498,
 499,
 501,
 502,
 503,
 504,
 505,
 506,
 507,
 508,
 509,
 510,
 511,
 512,
 513,
 515,
 517,
 518,
 519,
 520,
 521,
 522,
 524,
 525,
 526,
 527,
 528,
 529,
 530,
 532,
 533,
 534,
 535,
 536,
 537,
 538,
 539,
 540,
 541,
 542,
 543,
 545,
 547,
 548,
 549,
 550,
 551,
 552,
 553,
 554,
 555,
 556,
 557,
 559,
 563,
 564,
 565,
 567,
 568,
 569,
 571,
 572,
 575,
 576,
 577,
 578,
 580,
 581,
 583,
 584,
 585,
 586,
 587,
 588,
 589,
 592,
 594,
 595,
 596,
 597,
 599,
 600,
 601,
 602,
 603,
 604,
 605,
 606,
 607,
 608,
 609,
 610,
 611,
 612,
 613,
 614,
 615,
 617,
 618,
 619,
 620,
 621,
 622,
 623,
 624,
 626,
 627,
 628,
 629,
 630,
 631,
 633,
 634,
 636,
 637,
 639,
 640,
 641,
 642,
 643,
 644,
 645,
 646,
 647,
 648,
 650,
 651,
 652,
 653,
 655,
 656,
 658,
 660,
 661,
 662,
 663,
 664,
 665,
 667,
 669,
 671,
 672,
 673,
 674,
 675,
 676,
 677,
 678,
 679,
 680,
 681,
 682,
 683,
 684,
 685,
 686,
 687,
 688,
 689,
 690,
 691,
 692,
 693,
 694,
 695,
 696,
 697,
 698,
 699,
 700,
 701,
 703,
 704,
 705,
 706,
 707,
 708,
 709,
 710,
 711,
 713,
 714,
 715,
 716,
 717,
 718,
 719,
 720,
 721,
 723,
 724,
 725,
 726,
 727,
 728,
 729,
 730,
 731,
 732,
 733,
 735,
 736,
 737,
 738,
 739,
 741,
 742,
 743,
 744,
 745,
 747,
 748,
 749,
 750,
 751,
 752,
 753,
 754,
 755,
 756,
 757,
 758,
 759,
 760,
 761,
 762,
 763,
 764,
 765,
 766,
 767,
 768,
 769,
 770,
 771,
 772,
 773,
 774,
 775,
 776,
 777,
 778,
 779,
 780,
 782,
 784,
 785,
 786,
 787,
 788,
 789,
 790,
 791,
 793,
 794,
 795,
 798,
 799,
 800,
 801,
 802,
 803,
 804,
 805,
 808,
 812,
 813,
 814,
 815,
 816,
 817,
 819,
 820,
 821,
 822,
 823,
 824,
 825,
 826,
 827,
 828,
 829,
 830,
 831,
 832,
 833,
 835,
 836,
 837,
 838,
 839,
 840,
 841,
 844,
 845,
 846,
 847,
 848,
 849,
 850,
 851,
 852,
 853,
 855,
 856,
 857,
 859,
 861,
 862,
 863,
 865,
 866,
 867,
 869,
 871,
 872,
 874,
 877,
 880,
 881,
 882,
 883,
 885,
 886,
 887,
 888,
 889,
 890,
 891,
 892,
 893,
 894,
 897,
 898,
 900,
 901,
 902,
 903,
 904,
 905,
 906,
 908,
 909,
 910,
 911,
 912,
 913,
 915,
 916,
 917,
 918,
 920,
 922,
 923,
 925,
 926,
 928,
 929,
 930,
 931,
 933,
 934,
 935,
 936,
 937,
 939,
 940,
 941,
 942,
 943,
 944,
 945,
 948,
 949,
 950,
 951,
 952,
 953,
 954,
 956,
 957,
 958,
 959,
 960,
 962,
 963,
 964,
 965,
 966,
 967,
 968,
 969,
 970,
 971,
 972,
 973,
 974,
 976,
 977,
 978,
 979,
 980,
 981,
 982,
 983,
 984,
 985,
 986,
 987,
 988,
 989,
 990,
 991,
 992,
 993,
 994,
 995,
 998,
 1000,
 1001,
 1003,
 1004,
 1005,
 1006,
 1009,
 1011,
 1012,
 1017,
 1019,
 1020,
 1021,
 1024,
 1025,
 1026,
 1027,
 1028,
 1030,
 1031,
 1032,
 1034,
 1036,
 1037,
 1038,
 1039,
 1040,
 1042,
 1043,
 1044,
 1046,
 1047,
 1048,
 1049,
 1050,
 1052,
 1053,
 1054,
 1055,
 1056,
 1057,
 1058,
 1059,
 1060,
 1061,
 1065,
 1066,
 1068,
 1069,
 1070,
 1071,
 1072,
 1073,
 1074,
 1075,
 1076,
 1077,
 1078,
 1080,
 1083,
 1085,
 1088,
 1089,
 1090,
 1091,
 1092,
 1094,
 1095,
 1096,
 1098,
 1099,
 1102,
 1103,
 1105,
 1106,
 1107,
 1108,
 1109,
 1111,
 1112,
 1113,
 1114,
 1115,
 1116,
 1117,
 1118,
 1119,
 1120,
 1121,
 1122,
 1123,
 1124,
 1125,
 1126,
 1128,
 1129,
 1130,
 1131,
 1132,
 1133,
 1135,
 1136,
 1137,
 1138,
 1139,
 1140,
 1142,
 1144,
 1145,
 1146,
 1147,
 1150,
 1151,
 1152,
 1153,
 1154,
 1155,
 1156,
 1159,
 1160,
 1161,
 1162,
 1163,
 1164,
 1165,
 1166,
 1168,
 1169,
 1170,
 1171,
 1172,
 1173,
 1177,
 1178,
 1179,
 1180,
 1181,
 1182,
 1183,
 1184,
 1185,
 1186,
 1187,
 1189,
 1190,
 1191,
 1192,
 1194,
 1196,
 1197,
 1199,
 1202,
 1204,
 1206,
 1208,
 1209,
 1210,
 1211,
 1213,
 1214,
 1216,
 1217,
 1219,
 1221,
 1222,
 1223,
 1224,
 1227,
 1229,
 1230,
 ...]

In [26]:
filtered_df=filtered_df.drop(columns=['query_id'])
filtered_df.head()

                                               query
1  select  i_item_id, \n        avg(ss_quantity) ...
2  select sum (ss_quantity)\n from store_sales, s...
3  select  i_item_id\n       ,i_item_desc \n     ...
4  with ss_items as\n (select i_item_id item_id\n...
5  select  asceding.rnk, i1.i_product_name best_p...

In [27]:
filtered_df.to_csv("./information/queries_filtered.csv")

In [28]:
total=['Limit', 'Aggregate', 'Gather Merge', 'Sort', 'Append', 'Hash Join', 'Nested Loop', 'Hash', 'Seq Scan', 'Index Scan', 'Gather', 'WindowAgg', 'Merge Join', 'Materialize', 'Subquery Scan', 'CTE Scan', 'Group', 'Index Only Scan', 'Bitmap Heap Scan', 'Bitmap Index Scan', 'SetOp', 'Result', 'Unique', 'Merge Append']
after_fillter=['Limit', 'Aggregate', 'Gather Merge', 'Sort', 'Nested Loop', 'Index Scan', 'Hash Join', 'Hash', 'Seq Scan', 'Gather', 'WindowAgg', 'Merge Join', 'Materialize', 'Subquery Scan', 'Group', 'Index Only Scan', 'CTE Scan', 'SetOp', 'Append', 'Result', 'Unique', 'Bitmap Heap Scan', 'Bitmap Index Scan']
set(total)-set(after_fillter)

{'Merge Append'}

In [10]:
limit_operators = ['Limit']
aggregate_operators = ['Aggregate', 'Group', 'WindowAgg']
merge_and_join_operators = ['Gather Merge', 'Merge Join', 'Nested Loop', 'Hash Join']
sort_and_scan_operators = ['Sort', 'Seq Scan', 'Index Scan', 'Index Only Scan', 'Bitmap Heap Scan', 'Bitmap Index Scan']
gather_and_materialize_operators = ['Gather', 'Materialize']
subquery_and_cte_operators = ['Subquery Scan', 'CTE Scan']
set_operation_and_others = ['SetOp', 'Append', 'Result', 'Unique']

In [11]:
set(total)-set(scan)-set(join)

{'Aggregate',
 'Append',
 'Gather',
 'Gather Merge',
 'Group',
 'Hash',
 'Limit',
 'Materialize',
 'Merge Append',
 'Result',
 'SetOp',
 'Sort',
 'Unique',
 'WindowAgg'}