In [8]:
import random
import sys
from ImportantConfig import Config
config = Config()
from sql2fea import TreeBuilder,value_extractor
from NET import TreeNet
from sql2fea import Sql2Vec
from TreeLSTM import SPINN
import pandas as pd
import json
from IPython.display import display

sys.stdout = open(config.log_file, "w")
random.seed(113)
with open(config.queries_file) as f:
    import json
    queries = json.load(f)

tree_builder = TreeBuilder()
sql2vec = Sql2Vec()

In [9]:
df=pd.read_csv('./information/queries_filter.csv')
df.head()

   Unnamed: 0  query_id                                              query
0           1         2  select  i_item_id, \n        avg(ss_quantity) ...
1           2         3  select sum (ss_quantity)\n from store_sales, s...
2           3         4  select  i_item_id\n       ,i_item_desc \n     ...
3           4         5  with ss_items as\n (select i_item_id item_id\n...
4           5         6  select  asceding.rnk, i1.i_product_name best_p...

In [10]:
queries=df['query'].values
queries[0]

"select  i_item_id, \n        avg(ss_quantity) agg1,\n        avg(ss_list_price) agg2,\n        avg(ss_coupon_amt) agg3,\n        avg(ss_sales_price) agg4 \n from store_sales, customer_demographics, date_dim, item, promotion\n where ss_sold_date_sk = d_date_sk and\n       ss_item_sk = i_item_sk and\n       ss_cdemo_sk = cd_demo_sk and\n       ss_promo_sk = p_promo_sk and\n       cd_gender = 'F' and \n       cd_marital_status = 'M' and\n       cd_education_status = '2 yr Degree' and\n       (p_channel_email = 'N' or p_channel_event = 'N') and\n       d_year = 1999 \n group by i_item_id\n order by i_item_id\n limit 100;"

In [11]:
len(queries)

14400

In [12]:
from PGUtils import pgrunner
plan_jsons=[]
for sql in queries[:10]:
    plan_jsons.append(pgrunner.getCostPlanJson(sql))
len(plan_jsons)

10

In [13]:
# test_plan=pgrunner.getCostPlanJson('SELECT d_year FROM date_dim where d_year>2000 order by d_year limit 5;')
# test_plan

In [14]:
tree_builder.plan_to_feature_tree(plan_jsons[2],0)

(tensor([[  1.0000,   0.0000,   0.0000,   0.0000,   0.0000,   0.0000,   0.0000,
            0.0000,   0.0000,   0.0000,   0.0000,   0.0000,   0.0000,   0.0000,
            0.0000,   0.0000,   0.0000,   0.0000,   0.0000,   0.0000,   0.0000,
            0.0000,   0.0000,   0.0000,   1.0000,   0.0000,   0.0000,   0.0000,
            0.0000,   0.0000,   0.0000,   0.9200, 100.0000,   2.0200,   0.0000,
            0.0000,   1.0000]]),
 (tensor([[0.0000e+00, 0.0000e+00, 0.0000e+00, 1.0000e+00, 0.0000e+00, 0.0000e+00,
           0.0000e+00, 0.0000e+00, 0.0000e+00, 0.0000e+00, 0.0000e+00, 0.0000e+00,
           0.0000e+00, 0.0000e+00, 0.0000e+00, 0.0000e+00, 0.0000e+00, 0.0000e+00,
           0.0000e+00, 0.0000e+00, 0.0000e+00, 0.0000e+00, 0.0000e+00, 0.0000e+00,
           0.0000e+00, 0.0000e+00, 0.0000e+00, 1.0000e+00, 0.0000e+00, 0.0000e+00,
           0.0000e+00, 9.2000e-01, 2.0200e+02, 1.0000e+00, 1.0000e+00, 2.8333e-03,
           5.5000e-03]]),
  (tensor([[  0.0000,   0.0000,   0.0000,   0.0000,   0.0000,   0.0000,   0.0000,
              0.0000,   0.0000,   0.0000,   0.0000,   1.0000,   0.0000,   0.0000,
              0.0000,   0.0000,   0.0000,   0.0000,   0.0000,   0.0000,   0.0000,
              0.0000,   0.0000,   0.0000,   0.0000,   1.0000,   0.0000,   0.0000,
              0.0000,   0.0000,   0.0000,   0.9200, 202.0000,   1.0000,   2.0000,
              0.0000,   1.0000]]),
   (tensor([[0.0000e+00, 0.0000e+00, 0.0000e+00, 1.0000e+00, 0.0000e+00, 0.0000e+00,
             0.0000e+00, 0.0000e+00, 0.0000e+00, 0.0000e+00, 0.0000e+00, 0.0000e+00,
             0.0000e+00, 0.0000e+00, 0.0000e+00, 0.0000e+00, 0.0000e+00, 0.0000e+00,
             0.0000e+00, 0.0000e+00, 0.0000e+00, 0.0000e+00, 0.0000e+00, 0.0000e+00,
             0.0000e+00, 0.0000e+00, 0.0000e+00, 1.0000e+00, 0.0000e+00, 0.0000e+00,
             0.0000e+00, 9.2000e-01, 2.0200e+02, 1.0000e+00, 3.0000e+00, 2.3889e-03,
             5.5000e-03]]),
    (tensor([[0.0000e+00, 1.0000e+00, 0.0000e+00, 0.0000e+00, 0.0000e+00, 0.0000e+00,
              0.0000e+00, 0.0000e+00, 0.0000e+00, 0.0000e+00, 0.0000e+00, 0.0000e+00,
              0.0000e+00, 0.0000e+00, 0.0000e+00, 0.0000e+00, 0.0000e+00, 0.0000e+00,
              0.0000e+00, 0.0000e+00, 0.0000e+00, 0.0000e+00, 0.0000e+00, 0.0000e+00,
              0.0000e+00, 1.0000e+00, 0.0000e+00, 0.0000e+00, 0.0000e+00, 0.0000e+00,
              0.0000e+00, 9.2000e-01, 2.0200e+02, 8.3168e-01, 4.0000e+00, 2.8333e-03,
              5.5000e-03]]),
     (tensor([[  0.0000,   0.0000,   1.0000,   0.0000,   0.0000,   0.0000,   0.0000,
                 0.0000,   0.0000,   0.0000,   0.0000,   0.0000,   0.0000,   0.0000,
                 0.0000,   0.0000,   0.0000,   0.0000,   0.0000,   0.0000,   0.0000,
                 0.0000,   0.0000,   0.0000,   0.0000,   0.0000,   1.0000,   0.0000,
                 0.0000,   0.0000,   0.0000,   0.9200, 168.0000,   0.5000,   5.0000,
                 0.0000,   1.0000]]),
      (tensor([[0.0000e+00, 1.0000e+00, 0.0000e+00, 0.0000e+00, 0.0000e+00, 0.0000e+00,
                0.0000e+00, 0.0000e+00, 0.0000e+00, 0.0000e+00, 0.0000e+00, 0.0000e+00,
                0.0000e+00, 0.0000e+00, 0.0000e+00, 0.0000e+00, 0.0000e+00, 0.0000e+00,
                0.0000e+00, 0.0000e+00, 0.0000e+00, 0.0000e+00, 0.0000e+00, 0.0000e+00,
                0.0000e+00, 1.0000e+00, 0.0000e+00, 0.0000e+00, 0.0000e+00, 0.0000e+00,
                0.0000e+00, 9.2000e-01, 8.4000e+01, 1.0000e+00, 6.0000e+00, 2.8333e-03,
                5.5000e-03]]),
       (tensor([[0.0000e+00, 0.0000e+00, 0.0000e+00, 1.0000e+00, 0.0000e+00, 0.0000e+00,
                 0.0000e+00, 0.0000e+00, 0.0000e+00, 0.0000e+00, 0.0000e+00, 0.0000e+00,
                 0.0000e+00, 0.0000e+00, 0.0000e+00, 0.0000e+00, 0.0000e+00, 0.0000e+00,
                 0.0000e+00, 0.0000e+00, 0.0000e+00, 0.0000e+00, 0.0000e+00, 0.0000e+00,
                 0.0000e+00, 0.0000e+00, 0.0000e+00, 1.0000e+00, 0.0000e+00, 0.0000e+00,
                 0.0000e+00, 9.2000e-01, 8.4000e+01, 1.0000e+00, 7.0000e+00, 2.8333e-03,
                 5.5000e-03]]),
        (tensor([[ 0.0000,  0.0000,  0.0000,  0.0000,  0.0000,  0.0000,  1.0000,  0.0000,
                   0.0000,  0.0000,  0.0000,  0.0000,  0.0000,  0.0000,  0.0000,  0.0000,
                   0.0000,  0.0000,  0.0000,  0.0000,  0.0000,  0.0000,  0.0000,  0.0000,
                   0.0000,  0.0000,  1.0000,  0.0000,  0.0000,  0.0000,  0.0000,  0.9200,
                  84.0000,  3.3214,  8.0000,  0.0000,  1.0000]]),
         (tensor([[ 0.0000e+00,  0.0000e+00,  0.0000e+00,  0.0000e+00,  0.0000e+00,
                    1.0000e+00,  0.0000e+00,  0.0000e+00,  0.0000e+00,  0.0000e+00,
                    0.0000e+00,  0.0000e+00,  0.0000e+00,  0.0000e+00,  0.0000e+00,
                    0.0000e+00,  0.0000e+00,  0.0000e+00,  0.0000e+00,  0.0000e+00,
                    0.0000e+00,  0.0000e+00,  0.0000e+00,  0.0000e+00,  0.0000e+00,
                    0.0000e+00,  1.0000e+00,  0.0000e+00,  0.0000e+00,  0.0000e+00,
                    0.0000e+00,  9.1500e-01,  2.7800e+02,  2.1607e+03,  9.0000e+00,
                    0.0000e+00, -1.3689e-05]]),
          (tensor([[0.0000e+00, 0.0000e+00, 0.0000e+00, 0.0000e+00, 0.0000e+00, 0.0000e+00,
                    0.0000e+00, 0.0000e+00, 1.0000e+00, 0.0000e+00, 0.0000e+00, 0.0000e+00,
                    0.0000e+00, 0.0000e+00, 0.0000e+00, 0.0000e+00, 0.0000e+00, 0.0000e+00,
                    0.0000e+00, 0.0000e+00, 0.0000e+00, 0.0000e+00, 0.0000e+00, 0.0000e+00,
                    0.0000e+00, 0.0000e+00, 0.0000e+00, 1.0000e+00, 0.0000e+00, 0.0000e+00,
                    0.0000e+00, 9.1000e-01, 6.0064e+05, 1.0000e+00, 1.0000e+01, 0.0000e+00,
                    1.0000e+00]]),
           tensor([-1])),
          (tensor([[ 0.0000,  0.0000,  0.0000,  0.0000,  0.0000,  0.0000,  0.0000,  1.0000,
                     0.0000,  0.0000,  0.0000,  0.0000,  0.0000,  0.0000,  0.0000,  0.0000,
                     0.0000,  0.0000,  0.0000,  0.0000,  0.0000,  0.0000,  0.0000,  0.0000,
                     0.0000,  1.0000,  0.0000,  0.0000,  0.0000,  0.0000,  0.0000,  0.6500,
                    20.0000,  1.0000, 10.0000,  0.0000,  1.0000]]),
           (tensor([[ 0.0000e+00,  0.0000e+00,  0.0000e+00,  0.0000e+00,  0.0000e+00,
                      0.0000e+00,  0.0000e+00,  0.0000e+00,  1.0000e+00,  0.0000e+00,
                      0.0000e+00,  0.0000e+00,  0.0000e+00,  0.0000e+00,  0.0000e+00,
                      0.0000e+00,  0.0000e+00,  0.0000e+00,  0.0000e+00,  0.0000e+00,
                      0.0000e+00,  0.0000e+00,  0.0000e+00,  0.0000e+00,  0.0000e+00,
                      0.0000e+00,  0.0000e+00,  1.0000e+00,  0.0000e+00,  0.0000e+00,
                      0.0000e+00,  6.5000e-01,  2.0000e+01,  1.0000e+00,  1.1000e+01,
                      0.0000e+00, -1.3689e-05]]),
            tensor([-1])))),
         (tensor([[0.0000e+00, 0.0000e+00, 0.0000e+00, 0.0000e+00, 0.0000e+00, 0.0000e+00,
                   0.0000e+00, 0.0000e+00, 0.0000e+00, 1.0000e+00, 0.0000e+00, 0.0000e+00,
                   0.0000e+00, 0.0000e+00, 0.0000e+00, 0.0000e+00, 0.0000e+00, 0.0000e+00,
                   0.0000e+00, 0.0000e+00, 0.0000e+00, 0.0000e+00, 0.0000e+00, 0.0000e+00,
                   0.0000e+00, 0.0000e+00, 0.0000e+00, 1.0000e+00, 0.0000e+00, 0.0000e+00,
                   0.0000e+00, 7.0000e-02, 1.0000e+00, 1.0000e+00, 9.0000e+00, 2.3889e-03,
                   5.5556e-04]]),
          tensor([-1])))))))))))

In [15]:
plan_jsons[2]

{'Plan': {'Node Type': 'Limit',
  'Parallel Aware': False,
  'Startup Cost': 48174.89,
  'Total Cost': 48175.14,
  'Plan Rows': 100,
  'Plan Width': 291,
  'Plans': [{'Node Type': 'Sort',
    'Parent Relationship': 'Outer',
    'Parallel Aware': False,
    'Startup Cost': 48174.89,
    'Total Cost': 48175.4,
    'Plan Rows': 202,
    'Plan Width': 291,
    'Sort Key': ['item.i_category',
     'item.i_class',
     'item.i_item_id',
     'item.i_item_desc',
     "((((sum(catalog_sales.cs_ext_sales_price)) * '100'::numeric) / sum((sum(catalog_sales.cs_ext_sales_price))) OVER (?)))"],
    'Plans': [{'Node Type': 'WindowAgg',
      'Parent Relationship': 'Outer',
      'Parallel Aware': False,
      'Startup Cost': 48162.63,
      'Total Cost': 48167.17,
      'Plan Rows': 202,
      'Plan Width': 291,
      'Plans': [{'Node Type': 'Sort',
        'Parent Relationship': 'Outer',
        'Parallel Aware': False,
        'Startup Cost': 48162.63,
        'Total Cost': 48163.13,
        'Plan Rows': 202,
        'Plan Width': 259,
        'Sort Key': ['item.i_class'],
        'Plans': [{'Node Type': 'Aggregate',
          'Strategy': 'Sorted',
          'Partial Mode': 'Finalize',
          'Parent Relationship': 'Outer',
          'Parallel Aware': False,
          'Startup Cost': 48127.51,
          'Total Cost': 48154.89,
          'Plan Rows': 202,
          'Plan Width': 259,
          'Group Key': ['item.i_item_id',
           'item.i_item_desc',
           'item.i_category',
           'item.i_class',
           'item.i_current_price'],
          'Plans': [{'Node Type': 'Gather Merge',
            'Parent Relationship': 'Outer',
            'Parallel Aware': False,
            'Startup Cost': 48127.51,
            'Total Cost': 48149.43,
            'Plan Rows': 168,
            'Plan Width': 259,
            'Workers Planned': 2,
            'Plans': [{'Node Type': 'Aggregate',
              'Strategy': 'Sorted',
              'Partial Mode': 'Partial',
              'Parent Relationship': 'Outer',
              'Parallel Aware': False,
              'Startup Cost': 47127.49,
              'Total Cost': 47130.01,
              'Plan Rows': 84,
              'Plan Width': 259,
              'Group Key': ['item.i_item_id',
               'item.i_item_desc',
               'item.i_category',
               'item.i_class',
               'item.i_current_price'],
              'Plans': [{'Node Type': 'Sort',
                'Parent Relationship': 'Outer',
                'Parallel Aware': False,
                'Startup Cost': 47127.49,
                'Total Cost': 47127.7,
                'Plan Rows': 84,
                'Plan Width': 233,
                'Sort Key': ['item.i_item_id',
                 'item.i_item_desc',
                 'item.i_category',
                 'item.i_class',
                 'item.i_current_price'],
                'Plans': [{'Node Type': 'Nested Loop',
                  'Parent Relationship': 'Outer',
                  'Parallel Aware': False,
                  'Join Type': 'Inner',
                  'Startup Cost': 2050.09,
                  'Total Cost': 47124.81,
                  'Plan Rows': 84,
                  'Plan Width': 233,
                  'Inner Unique': True,
                  'Plans': [{'Node Type': 'Hash Join',
                    'Parent Relationship': 'Outer',
                    'Parallel Aware': True,
                    'Join Type': 'Inner',
                    'Startup Cost': 2049.8,
                    'Total Cost': 47037.98,
                    'Plan Rows': 278,
                    'Plan Width': 10,
                    'Inner Unique': True,
                    'Hash Cond': '(catalog_sales.cs_sold_date_sk = date_dim.d_date_sk)',
                    'Plans': [{'Node Type': 'Seq Scan',
                      'Parent Relationship': 'Outer',
                      'Parallel Aware': True,
                      'Relation Name': 'catalog_sales',
                      'Alias': 'catalog_sales',
                      'Startup Cost': 0.0,
                      'Total Cost': 43411.41,
                      'Plan Rows': 600641,
                      'Plan Width': 14},
                     {'Node Type': 'Hash',
                      'Parent Relationship': 'Inner',
                      'Parallel Aware': True,
                      'Startup Cost': 2049.55,
                      'Total Cost': 2049.55,
                      'Plan Rows': 20,
                      'Plan Width': 4,
                      'Plans': [{'Node Type': 'Seq Scan',
                        'Parent Relationship': 'Outer',
                        'Parallel Aware': True,
                        'Relation Name': 'date_dim',
                        'Alias': 'date_dim',
                        'Startup Cost': 0.0,
                        'Total Cost': 2049.55,
                        'Plan Rows': 20,
                        'Plan Width': 4,
                        'Filter': "((d_date >= '2002-02-12'::date) AND (d_date <= '2002-03-14 00:00:00'::timestamp without time zone))"}]}]},
                   {'Node Type': 'Index Scan',
                    'Parent Relationship': 'Inner',
                    'Parallel Aware': False,
                    'Scan Direction': 'Forward',
                    'Index Name': 'item_pkey',
                    'Relation Name': 'item',
                    'Alias': 'item',
                    'Startup Cost': 0.29,
                    'Total Cost': 0.31,
                    'Plan Rows': 1,
                    'Plan Width': 231,
                    'Index Cond': '(i_item_sk = catalog_sales.cs_item_sk)',
                    'Filter': "(i_category = ANY ('{Music,Men,Sports}'::bpchar[]))"}]}]}]}]}]}]}]}]}]}}

## get_relative_col

In [33]:
table_statistics=pd.read_csv('./information/table_statistics.csv').iloc[70:,:]   #前70条系统表数据
table_statistics.head()

,Schema,Table,Column,Null Fraction,Distinct Values,Correlation
70,public,customer,c_birth_country,0.035633,211.0000,-0.000724
71,public,customer,c_birth_day,0.034067,31.0000,0.032090
72,public,customer,c_birth_month,0.034133,12.0000,0.084593
73,public,customer,c_birth_year,0.034000,69.0000,0.013633
74,public,customer,c_current_addr_sk,0.000000,-0.3655,0.000824

In [ ]:
Column_to_Table=

In [45]:
table_rows=pd.read_csv('./information/table_row_counts.csv') #前70条系统表数据
table_rows.head()

           Table      Rows
0       customer    100000
1          store        12
2      web_sales    719384
3      inventory  11745095
4  store_returns    287514

In [48]:
Column_to_NullFraction_dict=dict(zip(table_statistics['Column'], table_statistics['Null Fraction']))
Column_to_DistinctValues_dict=dict(zip(table_statistics['Column'], table_statistics['Distinct Values']))
Column_list=table_statistics['Column'].values
Column_to_Table=dict(zip(table_statistics['Column'], table_statistics['Table']))
table_row_counts=dict(zip(table_rows['Table'], table_rows['Rows']))

In [51]:
# 创建一个字典来存储每个列对应的表的行数
col_row_counts = {}

# 遍历 Column_to_Table 字典中的每一对键值对
for col, table in Column_to_Table.items():
    # 获取列对应的表的行数
    if table in table_row_counts:
        row_count = table_row_counts[table]
        # 将列和对应的表的行数存储到新的字典中
        col_row_counts[col] = row_count
    else:
        print(f"Table '{table}' not found in table_row_counts.")

In [42]:
def get_relative_col(plan):   #提取当前节点的涉及到的col
    relative_col=[]
    result_string = ''
    for k,v in plan.items():
        if k not in ['Plans','Plan']:
            result_string+=str(v)
    for col in Column_list:
        if col in result_string:
            relative_col.append(col)
    return relative_col
get_relative_col(plan_jsons[2]['Plan']['Plans'][0])

['i_category', 'i_class', 'i_item_desc', 'i_item_id']

In [54]:
def get_max_NullFraction_DistinctValues(cols_list):
    if len(cols_list)==0:#该算子没有涉及到列
        return [0,1]
    else:
        NullFraction_value=[Column_to_NullFraction_dict[col] for col in cols_list]
        DistinctValues_value=[Column_to_DistinctValues_dict[col]/col_row_counts[col] for col in cols_list]
        table
        
        return max(NullFraction_value),max(DistinctValues_value)
get_max_NullFraction_DistinctValues(get_relative_col(plan_jsons[2]['Plan']['Plans'][0]))

(0.0028333333, 0.0055)

In [ ]:
plan_jsons[2]['Plan']['Plans']

## 分大类

In [ ]:
total=['Limit', 'Aggregate', 'Gather Merge', 'Sort', 'Append', 'Hash Join', 'Nested Loop', 'Hash', 'Seq Scan', 'Index Scan', 'Gather', 'WindowAgg', 'Merge Join', 'Materialize', 'Subquery Scan', 'CTE Scan', 'Group', 'Index Only Scan', 'Bitmap Heap Scan', 'Bitmap Index Scan', 'SetOp', 'Result', 'Unique', 'Merge Append']
after_fillter=['Limit', 'Aggregate', 'Gather Merge', 'Sort', 'Nested Loop', 'Index Scan', 'Hash Join', 'Hash', 'Seq Scan', 'Gather', 'WindowAgg', 'Merge Join', 'Materialize', 'Subquery Scan', 'Group', 'Index Only Scan', 'CTE Scan', 'SetOp', 'Append', 'Result', 'Unique', 'Bitmap Heap Scan', 'Bitmap Index Scan']
set(total)-set(after_fillter)

In [ ]:
tmp=limit_operators+aggregate_operators+merge_and_join_operators+sort_and_scan_operators+gather_and_materialize_operators+subquery_and_cte_operators+set_operation_and_others
set(after_fillter)-set(tmp)

In [ ]:
set(total)-set(scan)-set(join)

In [ ]:
print(1)